* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#buttons_rate input {
    width: 40px;
    height: 30px;
    margin-right: 5px;
}

#buttons_rate {
    display: none;
}

#button_next {
    height: 30px;
    width: 250px;
}

#multimodality img {
    max-width: 400px;
    max-height: 400px;
    vertical-align: top;
    padding: 2px;
}

#multimodality, #buttons_selfeval {
    border: 2px solid black;
    padding: 2px;
    width: 100%;
}

#multimodality {
    height: 430px;
    overflow: scroll;
    font-size: 2.5ex;
}

#buttons_selfeval {
    height: 430px;
    background-color: #0000000e;
    font-size: 3ex;
    text-align: center;
    display: none;
}

#buttons_selfeval input {
    width: 500px;
    height: 30px;
    font-size: 1.5ex;
}